.first-img {
  float: left;

  width: 250px;
}

.second-img {
  float: right;

  width: 350px;
}

.content {
  height: 300px;

  overflow: scroll;
}

.venus-img {
  shape-outside: circle();
  float: left;

  width: 300px;
  height: 300px;
}
