.list {
  list-style-type: symbols(cyclic "\1F921");
}

.list li:nth-child(1) {
  color: blue;
  text-shadow: 2px 1px 1px pink;
}

.list li:nth-child(2) {
  background-color: blue;
  color: white;
}

.list li:nth-child(3) {
  text-decoration: line-through 2px pink;
}

.header {
  background-color: #000;
  color: #fff;
  text-align: right;

  margin-top: 10px;
}

.header-text {
  padding: 2px;
}
